<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Seminar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add Seminar</h3>
        <div class="card">
        <div th:with="typeVar=Private">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/seminars/add}" th:object="${seminar}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="type" class="col-form-label">Type</label> <select th:field="*{type}">  
                                														<option value="Private">Private</option>
                                														<option value="Common">Common</option>
																					</select>
							</div>
                            <div class="form-group col-md-8">
                                <label for="numberOfAtendees" class="col-form-label">Number of attendees</label> <input type="text" th:field="*{numberOfAtendees}" class="form-control" id="numberOfAtendees" placeholder="Number of attendees"> <span th:if="${#fields.hasErrors('numberOfAtendees')}" th:errors="*{numberOfAtendees}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="idRoom" class="col-form-label">Room</label> 
                                
                                		<select th:field="*{room}">
                                			<option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
										</select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="assistant" class="col-form-label">Assistant</label> 
                                
                                		<select th:field="*{assistant}">
                                			<option th:each="assist : ${assistants}" th:value="${assist.id}" th:text="${assist.firstName  + ' ' + assist.lastName}"></option>
										</select>
                                </div>
                               <div class="form-group col-md-8">
                                <label for="" class="col-form-label">Lecturer</label> 
                                
                                		<select th:field="*{lecturer}">
                                			<option th:each="lect : ${lecturers}" th:value="${lect.id}" th:text="${lect.firstName  + ' ' + lect.lastName}"></option>
										</select>
                                </div>
                                <div class="form-group col-md-8" >
                                <label for="" class="col-form-label">Customer</label> 
                                		<select th:field="*{customer}" >
                                			<option th:each="cust : ${customers}" th:value="${cust.id}" th:text="${cust.name}"></option>
										</select>
                                </div>
                                
                                <input type="submit" class="btn btn-primary" value="Add Seminar">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
           </div>
        </div>
    </div>

</body>

</html>