<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Seminars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

<div class="container my-2">
    <div th:replace="fragments/header :: header"/></div>
        <div class="card">
            <div class="card-body">
                <div th:switch="${seminars}" class="container my-5">
                    <p class="my-5">
                        <a href="/seminars/addseminar" class="btn btn-primary"><i class="fas fa-user-plus ml-2"> Add Seminar</i></a>
                    </p>
                    <div class="col-md-10">
                        <input type="search" placeholder="Search..." class="form-control search-input" data-table="seminars-list"/>
                            <table class="table table-striped table-responsive-md seminars-list">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Number of attendees</th>
                                        <th>Room</th>
                                        <th>Assistant</th>
                                        <th>Lecturer</th>
                                        <th>Customer</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="seminar : ${seminars}">
                                        <td th:text="${seminar.type}"></td>
                                        <td th:text="${seminar.numberOfAtendees}"></td>
                                        <td th:text="${seminar.room.name}"></td>
                                        <td th:text="${seminar.assistant.firstName + ' ' + seminar.assistant.lastName}"></td>
                                        <td th:text="${seminar.lecturer.firstName + ' ' + seminar.lecturer.lastName}"></td>
                                        <div th:switch="${seminar.type}">
 											<td th:case="'Common'">Common</td>
  											<td th:case="'Private'" th:text=${seminar.customer.name}></td>
										</div>
                                          <td><a th:href="@{/seminars/edit/{id}(id=${seminar.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/seminars/delete/{id}(id=${seminar.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
						<script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>
                    </div>
                </div>
            </div>
        </div>
    
    <div th:replace="fragments/footer :: footer"/></div>
</body>

</html>