  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3>Access denied</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <p class="my-5"> OPS. Something went wrong. Contact your administrator and provide him with following report.</p>
                </div>
                
                <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Error</th>
                                        <th>Status</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr><td th:text="${error}"/>
                                	<td th:text="${status}"/>
                                	<td th:text="${message}"/></tr>
                                </tbody>
                            </table>
                   <a onclick=history.back() class="btn btn-primary"><i class="fas fa-backward ml-2"> Back </i></a>
            </div>
        </div>
    </div>
</body>


</html>