<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Seminars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div class="container my-5">
                   <div class="col-md-10">
                        
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Number of attendees</th>
                                        <th>Room</th>
                                        <th>Assistant</th>
                                        <th>Lecturer</th>
                                        <th>Customer</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="seminar : ${lecturerSeminars}">
                                        <td th:text="${seminar.type}"></td>
                                        <td th:text="${seminar.numberOfAtendees}"></td>
                                        <td th:text="${seminar.room.name}"></td>
                                        <td th:text="${seminar.assistant.firstName + ' ' + seminar.assistant.lastName}"></td>
                                        <td th:text="${seminar.lecturer.firstName + ' ' + seminar.lecturer.lastName}"></td>
                                        <div th:switch="${seminar.type}">
 											<td th:case="'Common'">Common</td>
  											<td th:case="'Private'" th:text=${seminar.customer.name}></td>
										</div>
                                           </tr>
                                </tbody>
                            </table>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</body>

</html>